[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
urllib3 = "==2.2.3"
python-dotenv = "*"
pydantic-settings = "===2.5.2"
pydantic = "==2.9.2"
redis = "*"
aiogram = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.10"
