[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://test.pypi.org/simple/"
verify_ssl = true
name = "testpypi"

[packages]
black = "*"
urllib3 = "==2.2.3"
python-dotenv = "*"
pydantic-settings = "===2.5.2"
pydantic = "==2.9.2"
redis = "*"
aiogram = "*"
garth = ">=0.4.45"
withings-sync = ">=4.2.4"
requests = "*"
mypy = "*"
pre-commit = "*"
garmin-connect = {version = "==0.0.2", index = "testpypi"}

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.10"
